* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: white;
}

main {
  flex-grow: 1;
  padding: 20px;
  margin-top: 80px;
  background: yellow;
}

footer {
  flex-shrink: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 12px;
}

.header__top {
  background: black;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__burger {
  display: flex;
}

.navbar__brand {
  font-family: "Merriweather", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.navbar__shopping-bag {
  display: flex;
}

.navbar__icon,
.social-media__icon,
.slide-menu__close {
  width: 16px;
  height: 16px;
}

.navbar__icon + .navbar__icon {
  margin-left: 8px;
}

.social-media__link + .social-media__link {
  margin-left: 8px;
}

.navbar__icon:hover,
.social-media__icon:hover,
.slide-menu__close:hover {
  opacity: 0.5;
}

.footer__bottom {
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.copyright {
  font-size: 12px;
  text-align: center;
}

.social-media {
  display: flex;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: black;
}

.backlink {
  display: block;
  margin-bottom: 16px;
}

.slide-menu {
  position: fixed;
  background: #333;
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 20px;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.slide-menu__close {
  filter: invert(100%);
}

.slide-menu__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-menu__link {
  color: #eee;
}

.slide-menu__link:hover {
  text-decoration: underline;
}

.slide-menu__link + .slide-menu__link {
  margin-top: 8px;
}

hr {
  width: 50%;
  margin: 16px auto;
  height: 1px;
  border: none;
  background-color: #eee;
}

.search {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.search__field {
  width: 100%;
  padding: 7px;
  border: none;
  font-size: 14px;
}

.search__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 7px;
  right: 7px;
  bottom: 7px;
  opacity: 0.5;
}

@media (min-width: 191px) {
  main {
    margin-top: 60px;
  }
}

@media (min-width: 600px) {
  .header__top {
    font-size: 16px;
  }
  .navbar__brand {
    font-size: 20px;
  }
  .footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .social-media {
    margin-bottom: 0;
  }
  .slide-menu {
    width: 50%;
  }

  .navbar__icon,
  .social-media__icon,
  .slide-menu__close {
    width: 20px;
    height: 20px;
  }

  .navbar__icon + .navbar__icon {
    margin-left: 10px;
  }

  .social-media__link + .social-media__link {
    margin-left: 10px;
  }

  .copyright {
    font-size: 14px;
  }
}

@media (min-width: 900px) {
  .slide-menu {
    width: 37.5%;
  }
}

@media (min-width: 1200px) {
  .slide-menu {
    width: 25%;
  }
}
