* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: rgb(246, 248, 250);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: white;
}

.main {
  flex-grow: 1;
  padding: 20px;
  margin-top: 60px;
  /* background: yellow; */
}

footer {
  flex-shrink: 0;
}

/* .header__top {
  background: black;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
} */

.navbar-top {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(27, 31, 35, 0.15) 0px 1px 15px 0px;
}

.navbar__burger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Merriweather", sans-serif;
  text-align: center;
  font-size: 20px;
}

.navbar__forms {
  display: flex;
  align-items: center;
}

#navbar-top__search,
#navbar-top__login {
  display: none;
}

.navbar__icon,
.social-media__icon,
.slide-menu__close {
  width: 20px;
  height: 20px;
}

.navbar__link {
  margin-left: 15px;
  height: 20px;
}

.navbar-bottom {
  padding: 0px 20px 20px 20px;
  position: relative;
  width: 100%;
  transform: translateY(-100%);
  margin: 0 auto;
  display: none;
}

.navbar-bottom {
  padding: 0px 20px 20px 20px;
  position: relative;
  width: 100%;
  transform: translateY(-100%);
  margin: 0 auto;
  display: none;
}

.navbar-bottom-displayed {
  display: block;
  top: 60px;
}

.navbar-bottom__field {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  background: #eee;
}

.navbar-bottom__field:focus {
  outline: none;
}

.navbar-bottom__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  right: 30px;
  bottom: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 12px;
}

.social-media__link + .social-media__link {
  margin-left: 15px;
}

.navbar__icon:hover,
.social-media__icon:hover,
.slide-menu__close:hover {
  opacity: 0.5;
}

.footer__bottom {
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.copyright {
  font-size: 12px;
  text-align: center;
}

.social-media {
  display: flex;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.backlink {
  display: block;
  margin-bottom: 16px;
}

.slide-menu {
  position: fixed;
  background: #333;
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 20px;
  left: -100%;
  transition: left 0.7s ease;
}

.slide-menu-open {
  left: 0%;
}

.slide-menu__close {
  filter: invert(100%);
}

.slide-menu__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-menu__link {
  color: #fff;
}

.slide-menu__link:hover {
  text-decoration: underline;
}

.slide-menu__link + .slide-menu__link {
  margin-top: 16px;
}

hr {
  width: 50%;
  margin: 20px auto;
  height: 1px;
  border: none;
  background-color: #eee;
}

.slide-menu__login {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slide-menu__login-icon {
  filter: invert(100%);
  width: 16px;
  height: 16px;
}

.slide-menu-search {
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.slide-menu-search__field {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
}
.slide-menu-search__field:focus {
  outline: none;
}

.slide-menu-search__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  right: 10px;
  bottom: 10px;
}

@media (min-width: 600px) {
  .navbar__brand {
    font-size: 24px;
  }

  #navbar-top__search,
  #navbar-top__login {
    display: flex;
  }

  .navbar-bottom {
    width: 75%;
  }

  .main-bigger-margin {
    margin-top: 116px;
  }

  .footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-media {
    margin-bottom: 0;
  }

  .slide-menu {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .navbar-bottom {
    width: 37.5%;
  }

  .slide-menu {
    width: 37.5%;
  }
}

@media (min-width: 1200px) {
  .slide-menu {
    width: 25%;
  }
}
